 {% load static%}
    <footer id="footer">
    <div class="footer-container">
        <div class="footer-about">
            <h3>About Us</h3>
            <p>Discover the rich heritage, culture, and landmarks of India. Explore, learn, and experience the beauty of Indian traditions with us.</p>
        </div>
        <div class="footer-links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></a></li>
                <li><a href="{% url 'states_selection' %}">Destinations</a></li>
                <li><a href="{% url 'culture' %}">culture</a></li>

                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
            <div class="footer-contact">
                <h3>Contact Us</h3>
                <p>Email: info@heritageindia.com</p>
                <p>Phone: +91 98765 43210</p>
                <p>Address: 123 Heritage Lane, India</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Heritage of India. All rights reserved. | Designed with ❤ by [Your Name]</p>
        </div>
    </footer>

  

</html>
