
/* State Description */
#state-description {
    padding: 50px;
    background-color: #fff;
}

.state-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.state-text {
    max-width: 700px;
    text-align: left;
}

.state-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.state-text p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
}

/* Navigation buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background: rgba(0, 0, 0, 0.8);
}

.hidden-content {
    display: none;
}

.read-more-btn {
    color: blue;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 16px;
    text-decoration: underline;
}

/* Hero Section */
#hero {
    position: relative; 
    overflow: hidden;
    text-align: center;
    color: white;
}

.slider img {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Prevent scrollbars */
    position: relative;
    animation: fade 6s infinite;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px 20px;
    z-index: 10;
}

    .slider-btn.prev {
        left: 10px;
    }

    .slider-btn.next {
        right: 10px;
    }

    .slider-btn:hover {
        background: rgba(0, 0, 0, 0.8);
    }

    .slide {
    display: none;
    }

    .slide.active {
        display: block;
    }

    
/* .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
} */


.hero-text {
    font-size: 4rem;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(90deg, #ff7a18, #af002d, #320dff, #ff8c00);
    background-size: 400%;
    -webkit-background-clip: text;
    animation: colorShift 8s ease infinite, typing 4s steps(40) 1s forwards;
}

@keyframes colorShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.hero-text::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    margin-top: 10px;
    animation: typing 4s steps(40) 1s forwards;
}