{% extends 'base.html' %}
{% load static %}

{% block title %} Harvest Festivals {% endblock %}

{% block extra_css %}



    <link rel="stylesheet" href="/static/assets/css/hotel.css">


    <header>
        <h1>Hotels Near Raigadh Fort</h1>
    </header>
    <section>
        <div class="container">

            <div class="cards">
                <!-- Card 1 -->
                <div class="card">
                    <img src="/static/assets/images/hotel/rg1.jpg" alt="Hotel 1">
                    <div class="card-content">
                        <h3 style="color: maroon;">MOTEL VISAVA</h3>
                        <p>16.3km from Raigadh Fort</p>
                        <div class="rating">Rating: ★★★★☆ <span>4.0</span></div>
                        <p class="price">₹5,258/night</p>
                        <button>
                            <a href="https://www.google.com/travel/search?q=hotels%20near%20raigad%20fort&g2lb=4899571%2C4899573%2C4965990%2C4969803%2C10210991%2C72277293%2C72302247%2C72317059%2C72406588%2C72414906%2C72421566%2C72471280%2C72472051%2C72481459%2C72485658%2C72499705%2C72560029%2C72573224%2C72614662%2C72616120%2C72619927%2C72647020%2C72648289%2C72658035%2C72686036%2C72760082%2C72803964%2C72808078%2C72832973&hl=en-IN&gl=in&ssta=1&ts=CAESCgoCCAMKAggDEAAaVgo2EjQyJTB4M2JlODI4M2ViMzhiMWNlNToweGZjMzE4MjZhZDM0YTViNzA6C0ZvcnQgUmFpZ2FkEhwSFAoHCOgPEAwYFRIHCOgPEAwYFhgBMgQIABAAKgcKBToDSU5S&qs=CAEyJENoY0lqS0xSdmMzamxMQVJHZ3N2Wnk4eGRHWjJjbVk0Y3hBQjgGQgkR6-CqraDVfs9CCRF-JNTwgQnCK0IJEdmFBR9oVExlSABaUggBMk6qAUsQASoKIgZob3RlbHMoADIeEAEiGoQ72u_PFVvVo4n4CxMhel9ncXTP_NR-kOt3MhsQAiIXaG90ZWxzIG5lYXIgcmFpZ2FkIGZvcnQ&ap=KigKEgnCu4-IiBQyQBGbkIwIGVxSQBISCSkGsIINGDJAEZuQjA6aXFJAMABoAboBBnByaWNlcw&ictx=111
                               " style="color: white; text-decoration: none;">
                                Book Now
                            </a>
                        </button>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="card">
                    <img src="/static/assets/images/hotel/rg2.jpg" alt="Hotel 2">
                    <div class="card-content">
                        <h3 style="color:maroon;">P G REGENCY RESORT</h3>
                        <p>16.4km from Raigadh Fort</p>
                        <div class="rating">Rating: ★★★★☆ <span>3.9</span></div>
                        <p class="price">₹2227/night</p>
                        <button>
                            <a href="https://www.google.com/travel/search?q=hotels%20near%20raigad%20fort&g2lb=4899571%2C4899573%2C4965990%2C4969803%2C10210991%2C72277293%2C72302247%2C72317059%2C72406588%2C72414906%2C72421566%2C72471280%2C72472051%2C72481459%2C72485658%2C72499705%2C72560029%2C72573224%2C72614662%2C72616120%2C72619927%2C72647020%2C72648289%2C72658035%2C72686036%2C72760082%2C72803964%2C72808078%2C72832973&hl=en-IN&gl=in&ssta=1&ts=CAESCgoCCAMKAggDEAAaVAo2EjQyJTB4M2JlODI4M2ViMzhiMWNlNToweGZjMzE4MjZhZDM0YTViNzA6C0ZvcnQgUmFpZ2FkEhoSFAoHCOgPEAwYFRIHCOgPEAwYFhgBMgIQACoHCgU6A0lOUg&qs=CAEyKENob0lnTHFKaC0tZDV2alNBUm9OTDJjdk1URmpiWGxpZURJd2JoQUI4BkIJEevgqq2g1X7PQgkRfiTU8IEJwitCCRGsqKXhGqBYYFpSCAEyTqoBSxABKgoiBmhvdGVscygAMh4QASIahDva788VW9WjifgLEyF6X2dxdM_81H6Q63cyGxACIhdob3RlbHMgbmVhciByYWlnYWQgZm9ydA&ap=MABoAQ&ictx=111&ved=2ahUKEwjO6PK12rWKAxWWiWYCHSDmN7YQyvcEegUIAxCKAQ

                        " style="color: white; text-decoration: none;">
                                Book Now
                            </a>
                        </button>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="card">
                    <img src="/static/assets/images/hotel/rg3.jpg" alt="Hotel 3">
                    <div class="card-content">
                        <h3 style="color: maroon;">RIVERLAND RESORT & LAWN </h3>
                        <p>15.2km from Raigadh</p>
                        <div class="rating">Rating: ★★★★☆ <span>4.4</span></div>
                        <p class="price">₹4147/night</p>
                        <button>
                            <a href="https://www.google.com/travel/search?q=hotels%20near%20raigad%20fort&g2lb=4899571%2C4899573%2C4965990%2C4969803%2C10210991%2C72277293%2C72302247%2C72317059%2C72406588%2C72414906%2C72421566%2C72471280%2C72472051%2C72481459%2C72485658%2C72499705%2C72560029%2C72573224%2C72614662%2C72616120%2C72619927%2C72647020%2C72648289%2C72658035%2C72686036%2C72760082%2C72803964%2C72808078%2C72832973&hl=en-IN&gl=in&ssta=1&ts=CAESCgoCCAMKAggDEAAaVAo2EjQyJTB4M2JlODI4M2ViMzhiMWNlNToweGZjMzE4MjZhZDM0YTViNzA6C0ZvcnQgUmFpZ2FkEhoSFAoHCOgPEAwYFRIHCOgPEAwYFhgBMgIQACoHCgU6A0lOUg&qs=CAESBENCST0yJ0Noa0k1TUMzdXRDaW9Qc3ZHZzB2Wnk4eE1Xb3ljVFpvTnpWNkVBRTgGQgkR6-CqraDVfs9CCRF-JNTwgQnCK0IJEayopeEaoFhgSABaUggBMk6qAUsQASoKIgZob3RlbHMoADIeEAEiGoQ72u_PFVvVo4n4CxMhel9ncXTP_NR-kOt3MhsQAiIXaG90ZWxzIG5lYXIgcmFpZ2FkIGZvcnQ&ap=KigKEgnpg7MnUzwyQBECWgSNx1JSQBISCSstoFTXPzJAEQJaBJNIU1JAMABoAQ&ictx=111&ved=0CAAQ5JsGahgKEwjw_u792rWKAxUAAAAAHQAAAAAQ1wE
                        " style="color: white; text-decoration: none;">Book Now</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
    