{% extends 'base.html' %}
{% load static %}

{% block title %} Harvest Festivals {% endblock %}

{% block extra_css %}



    <link rel="stylesheet" href="/static/assets/css/hotel.css">


    <header>
        <h1>Hotels Near Shaniwarwada</h1>
    </header>
    <section>
        <div class="container">

            <div class="cards">
                <!-- Card 1 -->
                <div class="card">
                    <img src="/static/assets/images/hotel/sw1.jpg" alt="Hotel 1">
                    <div class="card-content">
                        <h3 style="color: maroon;">Choice Classic hotel</h3>
                        <p>5 minutes from shaniwarwada</p>
                        <div class="rating">Rating: ★★★★☆ <span>3.7</span></div>
                        <p class="price">₹1500/night</p>
                        <button>
                            <a href=" https://www.google.com/travel/search?q=hotels%20near%20shaniwar%20wada%20pune&g2lb=4899568%2C4899570%2C4965990%2C4969803%2C72277293%2C72302247%2C72317059%2C72406588%2C72414906%2C72421566%2C72471280%2C72472051%2C72481459%2C72485658%2C72499705%2C72560029%2C72573224%2C72614662%2C72616120%2C72619927%2C72628720%2C72647020%2C72648289%2C72658035%2C72686036%2C72760082%2C72803964%2C72808078%2C72832973%2C72847700&hl=en-IN&gl=in&ssta=1&ts=CAESCAoCCAMKAggDGh4SHBIUCgcI6A8QDBgTEgcI6A8QDBgUGAEyBAgAEAAqBwoFOgNJTlI&qs=CAEyFENnc0l4TDc4NE9heGo2RFRBUkFCOApCCRG0obRJudspv0IJERWli-wTg653QgkR2soD6GvAbRBIAFpYMlaqAVMQASoKIgZob3RlbHMoADIfEAEiG_zQhXiCzrrKWC0obFTO5LHpmx_EY3j4539_xzIiEAIiHmhvdGVscyBuZWFyIHNoYW5pd2FyIHdhZGEgcHVuZQ&ap=MABoAboBCG92ZXJ2aWV3&ictx=111 
                            "
                               style="color: white; text-decoration: none;">
                                Book Now
                            </a>
                        </button>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="card">
                    <img src="/static/assets/images/hotel/sw2.jpg" alt="Hotel 2">
                    <div class="card-content">
                        <h3 style="color:maroon;">HOTEL ROYAL Palace Inn</h3>
                        <p>10 minutes from shaniwarwada</p>
                        <div class="rating">Rating: ★★★★☆ <span>4.1</span></div>
                        <p class="price">₹2300/night</p>
                        <button>
                            <a href="https://www.google.com/travel/search?q=hotels%20near%20shaniwar%20wada%20pune&g2lb=4899568%2C4899570%2C4965990%2C4969803%2C72277293%2C72302247%2C72317059%2C72406588%2C72414906%2C72421566%2C72471280%2C72472051%2C72481459%2C72485658%2C72499705%2C72560029%2C72573224%2C72614662%2C72616120%2C72619927%2C72628720%2C72647020%2C72648289%2C72658035%2C72686036%2C72760082%2C72803964%2C72808078%2C72832973%2C72847700&hl=en-IN&gl=in&ssta=1&ts=CAESCAoCCAMKAggDGhwSGhIUCgcI6A8QDBgTEgcI6A8QDBgUGAEyAhAAKgcKBToDSU5S&qs=CAEyFENnc0l2cjdvNU1ManRZbjVBUkFCOApCCRG0obRJudspv0IJERWli-wTg653QgkR2soD6GvAbRBaWDJWqgFTEAEqCiIGaG90ZWxzKAAyHxABIhv80IV4gs66ylgtKGxUzuSx6ZsfxGN4-Od_f8cyIhACIh5ob3RlbHMgbmVhciBzaGFuaXdhciB3YWRhIHB1bmU&ap=aAG6AQhvdmVydmlldw&ictx=111&ved=0CAAQ5JsGahcKEwjwrqifybCKAxUAAAAAHQAAAAAQBg 
                            "
                        " style="color: white; text-decoration: none;">
                                Book Now
                            </a>
                        </button>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="card">
                    <img src="/static/assets/images/hotel/sw3.jpg" alt="Hotel 3">
                    <div class="card-content">
                        <h3 style="color: maroon;">HOTEL Tiranga</h3>
                        <p>15 minutes from Shaniwarwada</p>
                        <div class="rating">Rating: ★★★★☆ <span>3.7</span></div>
                        <p class="price">₹1600/night</p>
                        <button>
                            <a href="https://www.google.com/travel/search?q=hotels%20near%20shaniwar%20wada%20pune&g2lb=4899568%2C4899570%2C4965990%2C4969803%2C72277293%2C72302247%2C72317059%2C72406588%2C72414906%2C72421566%2C72471280%2C72472051%2C72481459%2C72485658%2C72499705%2C72560029%2C72573224%2C72614662%2C72616120%2C72619927%2C72628720%2C72647020%2C72648289%2C72658035%2C72686036%2C72760082%2C72803964%2C72808078%2C72832973%2C72847700&hl=en-IN&gl=in&ssta=1&ts=CAESCAoCCAMKAggDGhwSGhIUCgcI6A8QDBgTEgcI6A8QDBgUGAEyAhAAKgcKBToDSU5S&qs=CAEyFENnc0ltT3ZsN29meGlZTEhBUkFCOApCCRG0obRJudspv0IJERWli-wTg653QgkR2soD6GvAbRBaWDJWqgFTEAEqCiIGaG90ZWxzKAAyHxABIhv80IV4gs66ylgtKGxUzuSx6ZsfxGN4-Od_f8cyIhACIh5ob3RlbHMgbmVhciBzaGFuaXdhciB3YWRhIHB1bmU&ap=aAG6AQhvdmVydmlldw&ictx=111&ved=0CAAQ5JsGahcKEwjA8JDZybCKAxUAAAAAHQAAAAAQEQ 
 
                            "
                         style="color: white; text-decoration: none;">Book Now</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
